[2016-08-29 19:47] fccoelho opened #1 "Layout"
![Dashboard do ECDC](http://ecdc.europa.eu/en/healthtopics/seasonal_influenza/PublishingImages/influenza-end-of-season-2015-16.jpg)

[2016-08-30 14:53] marfcg commented on #1
The report above is nicely accompanied by the interactive map of current and historical situation:
[ECDC Interactive Atlas](http://atlas.ecdc.europa.eu/public/index.aspx?Instance=GeneralAtlas)
Click on "choose data" -> Indicator = influenza
"Restrict available data to the following time period:" 2015-W45 to 2016-W12

Here, the levels are:
Low: incidence < epidemic threshold
Medium:  epi. thresh. <

[2016-08-30 17:11] marfcg opened #2 "Minimum cases per threshold"
In principle, data will be presented as incidence. Nonetheless, I believe we must set lower bounds for each threshold based on the corresponding number of cases per State.

The system generates the intensity levels based on the estimated percentiles of the historical case distribution. High and very high activity thresholds correspond to the estimated 90 and 97.5 percentiles, respectively, while t

[2016-08-30 19:19] claudia-codeco commented on #1
Great, this interactive atlas is exactly what we need. (Porque estamos falando em inglês? :)

[2016-08-31 13:57] marfcg commented on #1
Força do hábito no git e fóruns em geral :P

[2016-08-31 14:02] fccoelho commented on #1
Além disso é legal podermos ter contribuidores de outros países que possam
entender nossas mensagens. So let's continue in English! ;-)

On Wed, Aug 31, 2016 at 10:57 AM, Marcelo F C Gomes <
notifications@github.com> wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Bra

[2016-08-31 19:26] xmnlab commented on #1
maybe this lib can be used: http://nbviewer.jupyter.org/github/bibmartin/crossfolium/blob/master/examples/MarkerClusterFilter%20example.ipynb

I will take a look :)

[2016-09-01 10:18] fccoelho commented on #1
I dont think we have a need to plot individual flu cases with a marker
cluster, @marfcg what do you think?

On Wed, Aug 31, 2016 at 4:26 PM, Ivan notifications@github.com wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-09-01 13:50] marfcg commented on #1
I agree with @fccoelho
I like ECDC's Atlas layout. Just color scheme for current situation in each region, no marker cluster.
Here goes a proposal based on a combination of what ECDC's Atlas show for dengue reported cases, influenza activity and influenza virus detection - sentinel.
- Upper panel remains exactly the same as the flu activity one.
- Bottom panel is enhanced with incidence curve on t

[2016-09-06 12:59] fccoelho commented on #2
@marfcg , I think we should create a folder with Jupyter notebooks illustrating some visualization concepts based of the csvs. This will make it easier for @xmnlab  to understand what we want.

[2016-09-06 13:21] xmnlab commented on #2
that would be great :)

in parallel I'm checking some map libraries .. at this moment crossfolium seems to be a good option, because already works with cross filter. Its problem is it is in a development version .. so it is no stable, but maybe we can help with some eventual issues.

I also used a js library highcharts, that could be an option too.

I will check other option of crossfilter js libr

[2016-09-06 16:18] xmnlab commented on #2
do you have some preference between js library and python library?

in this project can be used a js library to create the maps? or do you prefere some python library to create these maps?

[2016-09-06 16:24] fccoelho commented on #2
I have put some suggestions in the _requirements.txt_, bokeh, holoviews, etc.

regarding Python vs JS, let's see what makes our life easier or give us better performance.

[2016-09-06 16:24] xmnlab commented on #1
Great. But would be a problem if we use a centroid marker in each State to receive a click event? I make this question because folium doesn't have this functionality yet (https://github.com/python-visualization/folium/issues/497).

[2016-09-06 16:28] xmnlab commented on #2
great! thanks!

[2016-09-08 13:09] fccoelho opened #3 "Create notebooks with example visualizations"
@marfcg , since you are the one which knows best these data, could you add some Notebooks with example visualizations to the project? This way @xmnlab  can build upon these examples.

[2016-09-08 18:40] marfcg commented on #3
I have pushed an example for the incidence plot using Python's matplotlib in 639b35e
This plot shows:
- Current/selected season incidence
- Colored background with typical activity
- Intensity thresholds

[2016-09-08 18:46] fccoelho commented on #3
Great @marfcg !

@xmnlab , I think you can start to play with this ideas . Trying to integrate them on a web app we can interact with. We can add the maps afters the visualization of the series is done or at least working.

[2016-09-08 19:23] xmnlab commented on #3
great @fccoelho! I'm starting to check out that.

[2016-09-09 13:57] marfcg commented on #2
Regarding the opening question in this thread, the thresholds we have at the moment in the data folder were created with that structure in mind. Those minimum were used both for the states and the regional data, regardless of respective size (population and/or number of states).
Just so we have it explicitly documented here.

As for language/libraries, I agree with @fccoelho

[2016-09-10 00:03] xmnlab opened #4 "maps/charts libraries"
Map/Chart Libraries to be checked:
- [x] bokeh;
- [x] folium;
- [ ] crossfolium;
- [x] dc.js (https://dc-js.github.io/dc.js/) (http://dc-js.github.io/dc.js/vc/index.html);
- [ ] highcharts/highmaps (http://www.highcharts.com/maps/demo/geojson);

Results:
- Bokeh is not good enough yet to be used in a GIS functionality (https://groups.google.com/a/continuum.io/forum/#!searchin/bokeh/geojson/bokeh/w

[2016-09-10 00:28] xmnlab opened #5 "Supported languages"
@fccoelho, should this application supports multi-language?

[2016-09-10 00:33] fccoelho commented on #5
Not necessarily. Buy it doesn't hurt to plan for it.

Em 09/09/2016 21:28, "Ivan" notifications@github.com escreveu:

[2016-09-10 00:36] xmnlab commented on #5
ok!

initially, should it be written in English or Portuguese?

[2016-09-10 01:17] xmnlab opened #6 "Prototyping"
- [x] Build a functional prototype. The source will be in /prototype directory.
- [x] The prototype will be written using flask and bootstrap frameworks.
- [x] The map/chart libraries defined (#4) should be used.

[2016-09-12 17:13] fccoelho commented on #5
I normally do it in English and then add the translation to Portuguese. That makes it easier for non-portuguese speakers to work with it and add other translations. @marfcg  and @claudia-codeco , do you think it is worth preparing for internationalization at this stage?

[2016-09-12 17:23] marfcg commented on #5
I believe it's a good move to have it.

By the way, we are going to the Brazilian Influenza meeting in the week of
Sept 26-30.
Do you think it's feasible to have a prototype by then? Map and incidence
curve only, at the moment, would do. I'm going to prepare a video with the
map, but it would be nice if we could show the website prototype as well.
For that, Portuguese is the norm, though.

## Chee

[2016-09-13 17:10] xmnlab commented on #5
Initially, I'm doing a prototype to validate the front-end libraries (I
hope to finish that this week). When the first version is ready, I will do
the pull request (https://github.com/xmnlab/flu
dashboard/tree/master/prototype).

Next, I will use the test dataset available in "/data" directory.

Maybe would be helpful if we have the information about all fields that
will be used in the charts, lik

[2016-09-14 02:19] xmnlab commented on #4
This example can be used as example to build the first prototype:

http://adilmoujahid.com/posts/2015/01/interactive-data-visualization-d3-dc-python-mongodb/

I tested a similar example and it worked well.

What do you think about that @fccoelho @marfcg ?

[2016-09-14 20:06] xmnlab commented on #2
@marfcg @fccoelho do you have a paper which makes some analysis of this data? or just some paper which explain something about flu analysis ...

Any recommendation will be appreciated.

[2016-09-14 20:12] xmnlab commented on #4
The above example was replicated with success.

Now, I'm creating a prototype with Brazilian Map and the incidence with indicators chart.

[2016-09-14 20:41] fccoelho commented on #4
Ivan (@xmnlab), acho bem interessante o exemplo que você citou. Acho que
pode ser aproveitado sim.

On Wed, Sep 14, 2016 at 5:12 PM, Ivan notifications@github.com wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-09-14 20:43] fccoelho commented on #2
@marfcg , share our latest report with Ivan. that will bring him up to
speed without him getting distracted with other stuff.

On Wed, Sep 14, 2016 at 5:06 PM, Ivan notifications@github.com wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-09-14 20:59] marfcg commented on #2
Done!

[2016-09-14 21:11] marfcg commented on #1
@xmnlab For that purpose I don't see any problem with using markers. They would need to be small enough to avoid being on top of each other in the northeastern region of Brazil, due to State sizes in that area, though...

[2016-09-15 12:04] xmnlab commented on #2
Thanks!

[2016-09-15 12:05] xmnlab commented on #4
Great! :)

[2016-09-16 17:39] xmnlab commented on #1
@marfcg OK!

Another question ... in choropleth map, what is the related value to create the colors range?
should be the mean of the chosen SRAG year value for each state?

[2016-09-16 18:06] marfcg commented on #1
@xmnlab For the map, we should present the color based on the activity for the current/chosen week. We compare that value with the thresholds for that state (epidemic, high and very high, specified in files mem-report-2016-[uf,region].csv ). The site should open with the map corresponding to the current situation (i.e., based on last data entry).

When presenting the map for the whole year, we hav

[2016-09-16 19:14] xmnlab commented on #1
great! Thank you @marfcg !

[2016-09-16 20:20] marfcg commented on #1
PS: when presenting the map for a specific week, not for the whole year, the color scheme is based on the levels stated on my first comment in this thread:

So:
- low: green
- medium: yellow
- high: orange
- very high: red

The map should always have a legend stating the corresponding criteria, be it for specific week or a whole year.

[2016-09-16 20:38] xmnlab commented on #1
OK! so, the application should have two time criteria: a whole year or just a specific week.

Is it correct?

[2016-09-16 20:44] marfcg commented on #1
Correct. It'll be an awesome website. Modesty be dammed :D

---

*Sent from mobile device. My apologies for eventual typos.
Marcelo Ferreira da Costa Gomes
Programa de Computação Científica
Fundação Oswaldo Cruz
PROCC/FIOCRUZ

On Sep 16, 2016 17:38, "Ivan" notifications@github.com wrote:

[2016-09-19 19:06] xmnlab opened #7 "Documentation"
What kind of documentations will be needed to this project?

[2016-09-20 01:02] xmnlab commented on #4
another example using dc.js:

https://epistat.wiv-isp.be/

[2016-09-20 08:53] fccoelho commented on #4
Muito bom Ivan,

Vou adaptar essa para o infodengue!

Em 19/09/2016 22:03, "Ivan" notifications@github.com escreveu:

[2016-09-20 10:14] fccoelho commented on #7
@xmnlab initially the documentation should be kept to a minimum, since the main goal is to finish the prototype. So I think we should document
- [x] installation and deploy procedures (This can go on the Readme)
- [x] docstrings where necessary

[2016-09-28 18:35] xmnlab opened #8 "incidence curve chart"
When the time period was defined as whole year, what should appear in the graph of incidence curve?

Should the system plot a incidence curve chart when no state was selected?

[2016-09-28 19:18] fccoelho commented on #8
@marfcg is the ideal person to answer this one.

[2016-09-29 04:37] marfcg commented on #8
For a whole year, we should provide the incidence for that year up to the available data. That is, for the current year we provide the incidence up to the latest report. For previous years, the whole series for that year.

When no state is selected, we should present the data for the whole country. I have it ready and I'll upload it tomorrow.

What do you think?

In both cases, the incidence shoul

[2016-09-29 10:22] fccoelho commented on #8
Seems a reasonable solution.

On Thu, Sep 29, 2016 at 1:37 AM, Marcelo F C Gomes <notifications@github.com

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-10-01 17:33] xmnlab opened #11 "Prototype bugs"
- [x] the table tile should be "Incidência na semana epidemiológica XX".

[2016-10-03 16:56] marfcg commented on #11
-  [x] The color code shown on the map corresponds to the previous week, not the selected one.

[2016-10-03 22:40] marfcg commented on #11
- [x] Allow for year selection

List of available years can be fetched from data file as

[code]

[2016-10-05 17:50] xmnlab commented on #11
- [x] data calls using queue library;
- [x] change data table to datatables lib [1];
- [x] when the week slider is moved with the arrow keys the visualizations do not update;

[1] https://datatables.net/

[2016-10-06 19:43] xmnlab opened #12 "configure travis-ci recipe"

[2016-10-06 19:49] xmnlab commented on #4
- [x] map lib used: leaflet [1];
- [x] chart lib used: c3 [2];

[1] http://leafletjs.com/
[2] http://c3js.org/

[2016-10-06 19:49] #4 closed, assigned to xmnlab

[2016-10-06 19:52] xmnlab commented on #5
@fccoelho, @marfcg

for the prototype, we used Portuguese language.

For the next step, should we continue using Portuguese?

[2016-10-06 20:08] xmnlab commented on #8
@marfcg,

could this make some conflict with this [1] approach? At [1], you say to show in the map information about the current year .. maybe if we show a chart with information about the previous year could confusing the user.

[1] https://github.com/FluVigilanciaBR/fludashboard/issues/1#issuecomment-247668389

[2016-10-06 20:32] xmnlab commented on #3
@fccoelho, @marfcg

can you provide a notebook with sex/age distribution chart?

[2016-10-06 20:33] xmnlab commented on #3
or just the data with information about the columns.

[2016-10-06 20:42] marfcg commented on #8
Sorry, I'm not sure I follow your question.

In the current prototype (https://github.com/FluVigilanciaBR/fludashboard/commit/7e26d3ab86cf654bc1734e1d67f2cabbfad31716), the user select a pair (week, year), and the map shows a color code based on the situation for that specific pair. I like that approach better than allowing for arbitrary time range selection, actually.

For a range representing a

[2016-10-06 20:43] marfcg commented on #3
Will work on it.

[2016-10-06 20:47] xmnlab opened #13 "Data tables"
@fccoelho, @marfcg

when the data table will be showed? what information should be displayed?

Cases:
1. State NO selected, week == 0 (whole year)
2. State NO selected, week > 0
3. State selected, week == 0 (whole year)
4. State selected, week > 0

[2016-10-06 20:48] xmnlab commented on #13
For the item 4, the table shows the incidence value for all State for the selected week.

[2016-10-06 20:53] xmnlab opened #14 "States / Regions"
We should include in the prototype a select option that allows the user choose Region or State selection mode?

[2016-10-06 20:54] marfcg commented on #13
1. Total number of cases in the selected year for each State + same data for the Country
2. Number of cases in the selected week for each State + same data for the Country
3. Total number of cases in the selected year for selected State
4. Number of cases in the selected week for selected State.

[2016-10-06 20:56] marfcg commented on #14
Yes, I believe so. Either as a checkbox / button or separate tab.

[2016-10-06 21:01] xmnlab commented on #14
maybe if the system allows both method at same time .. that will be confusing .. will be confusing in the map to display the colors .. and will be confusing to select the desired choice.

what do you think?

[2016-10-06 21:16] xmnlab commented on #8
So, can I remove the week 0 (used to display a map for a whole year) from the slider?

[2016-10-06 21:21] xmnlab commented on #8
Do you have it ready in a notebook?

[2016-10-06 21:41] marfcg commented on #14
At the same time would definitely be a mess.
I would go for something like this:
- if "regions" method is selected, the map is shown with its boundaries defined by the regions (State divisions could be shown as lighter gray lines in contrast to darker lines representing regional borders).
- When State is selected, we keep it as it is right now.

[2016-10-07 17:16] xmnlab commented on #13
@marfcg

In the cases 1 and 3, should these work just for whole year view (https://github.com/FluVigilanciaBR/fludashboard/issues/8#issuecomment-252091150), right?

[2016-10-07 18:25] marfcg commented on #13
Exactly. :+1:

[2016-10-07 18:32] xmnlab commented on #1
@fccoelho @marfcg

Pelo que entendi o layout do site deveria ser assim (para a visualização por semana):

![detalhado](https://cloud.githubusercontent.com/assets/5209757/19200956/093b8d08-8ca2-11e6-9d49-d1d5f9e25d36.png)

E para a visualização dos dados do ano inteiro:

![resumido](https://cloud.githubusercontent.com/assets/5209757/19200962/0f2e4c78-8ca2-11e6-9cc5-40c4d83a1462.png)

Alguma sugestã

[2016-10-07 18:55] fccoelho commented on #1
Gostei do layout. Me parece completo.

Em 7 de out de 2016 15:32, "Ivan" notifications@github.com escreveu:

[2016-10-07 18:58] xmnlab commented on #8
@marfcg

Just to check ... In the "whole year view", Has the user already the notion that 2010 year shows the data of 2009? Or maybe we should display in the year option like "2010 (ref. 2009)"?

[2016-10-07 21:30] marfcg commented on #8
@xmnlab
I'm working on a few implementations to make our lives easier. Instead of having different files with the same info but a set for States and another for Regions, I'm appending them. So that we will have only one "report", one "typical" and one "clean" file, each of which having data for both States and Regions.

I didn't understand your last question:

[2016-10-07 21:32] marfcg commented on #1
Perfeito!

[2016-10-10 10:45] xmnlab commented on #8
Great!

Maybe I didn't understood you, sorry.

I think this explain all:

But, what does ...

... mean?

[2016-10-10 17:11] marfcg commented on #8
Thing is, I'm having doubts whether it makes sense to have the whole year summary before season's end. I'm not sure it does... On the one hand, the color scheme doesn't make much sense before the peak is over. On the other hand, to have the cumulative number of cases up to the current week is informative....
What do you think?

[2016-10-10 22:51] xmnlab commented on #1
Ok!

[2016-10-10 22:51] #1 closed, assigned to xmnlab

[2016-10-10 22:55] xmnlab commented on #2
I think this issue is done.

[2016-10-10 22:55] #2 closed, assigned to nobody

[2016-10-10 23:27] xmnlab commented on #13
- [x] Total number of cases in the selected year for each State + same data for the Country
- [x] Number of cases in the selected week for each State + same data for the Country
- [x] Total number of cases in the selected year for selected State
- [x] Number of cases in the selected week for selected State.

[2016-10-11 00:21] xmnlab commented on #8
it is a good question ...

Can the user think that the color map will be the final version?

Or will be clear to the user that these information is not permanent?

[2016-10-11 00:45] #13 closed, assigned to fccoelho, marfcg

[2016-10-11 00:45] #11 closed, assigned to xmnlab

[2016-10-11 20:37] xmnlab commented on #12
done

[2016-10-11 20:37] #12 closed, assigned to xmnlab

[2016-10-11 20:40] xmnlab opened #16 "configure travis-ci"
@fccoelho, @marfcg

Could you configure travis-ci for the fludashboard?
Or if you can create a team and add me as a member I can do it.

[2016-10-11 20:50] xmnlab commented on #7
@fccoelho @marfcg

can you configure the readthedocs service to work with the repo?

I think the url should be something like that: https://fludashboard.readthedocs.io

or just create a team and add me as a member and I do it.

[2016-10-11 21:32] marfcg commented on #16
@fccoelho can you handle this one?
I have no clue what this is... :stuck_out_tongue:
Alternatively, can any of you point me on its direction?

[2016-10-11 21:36] xmnlab commented on #16
maybe this can help you:

https://www.youtube.com/watch?v=s_vjTg23G-o

this will be used to test each pull request before the merge.

[2016-10-11 21:41] marfcg opened #17 "Release numbering"
@xmnlab I have never worked with version numbering before, so please bear with me on this one...
I have made several changes on the codes that generate the data we are using here.
It will make some calculations here easier (such as weekly incidence per age bracket), as well as comply with the epidemiological week as defined in Brazil.
On the other hand, some columns have been renamed, such as isoy

[2016-10-11 21:50] xmnlab commented on #17
@marfcg just do it :)

I will isolate the fludahsboard/prototype folder .. and I'm working in a new one: fludashboard/fludashboard ... so I think we don't need to worry about the version number yet.

I think that if we just create a tag, as such "prototype", should be enough.

What do you think?

[2016-10-11 21:53] xmnlab commented on #17
I just don't have permission to create a tag .. can you create it?

[2016-10-11 21:57] marfcg commented on #17
Ok. I'm logging out for the day. I'll work on the notebooks and as soon as they're ready I'll push'em up.

[2016-10-11 21:57] #17 closed, assigned to xmnlab

[2016-10-12 08:41] fccoelho commented on #16
Done. @xmnlab, can you create the `travis.yml` and push it to activate it?

[2016-10-12 08:46] fccoelho commented on #7
Done. http://fludashboard.readthedocs.io/
I added @xmnlab and @marfcg as maintainers

[2016-10-12 08:46] #7 closed, assigned to fccoelho, marfcg

[2016-10-12 08:47] fccoelho commented on #7
update: @marfcg was not added because he is not a user of readthedocs... (not with this userid at least)

[2016-10-12 09:18] #16 closed, assigned to fccoelho, marfcg

[2016-10-12 15:20] marfcg commented on #7
Account created at readthedocs and linked with github

---

*Sent from mobile device. My apologies for eventual typos.
Marcelo Ferreira da Costa Gomes
Programa de Computação Científica
Fundação Oswaldo Cruz
PROCC/FIOCRUZ

On Oct 12, 2016 05:47, "Flávio Codeço Coelho" notifications@github.com
wrote:

[2016-10-12 16:50] xmnlab commented on #16
it is already on the repo :)

[2016-10-17 17:09] xmnlab opened #21 "online mettings"
@marfcg @fccoelho

Can you schedule some online meetings?

Maybe one this week, 21st, after lunch.

And another one November 4th, after lunch.

I think we can do it by google hangout.

What do you think?

[2016-10-17 17:12] xmnlab commented on #3
@marfcg some new? :)

[2016-10-17 18:44] fccoelho commented on #21
I am available on the 21st and the 4th

On Mon, Oct 17, 2016 at 3:09 PM, Ivan notifications@github.com wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-10-17 22:31] marfcg commented on #3
Dear all,

Sorry for the long silence. The reestructuring of the data files is taking
longer than I expected.
The reason is that I'm including the delay correction flow so that the next
batch is already with the full information for the website.
I have opted for that in order to avoid having to rewrite file reading yet
again once we had those estimates.

You can track the latest implementations at

[2016-10-18 15:32] marfcg commented on #21
On the 21st I have a skype call at 13h.
Does 14h sounds good?

On the 4th I'm free.

[2016-10-18 15:39] marfcg commented on #8
Well, a solution is to have a text box highlighting this situation.
When current year is selected we put a text stating something along the line of:
"Partial annual activity summary with data up to [latest report, typically last week]"
"Relatório parcial da atividade anual, com dados agregados até a semana [último relatório, tipicamente semana epidemiológica passada]"

I think this is a good way o

[2016-10-18 15:53] fccoelho commented on #21
for me that's fine.

On Tue, Oct 18, 2016 at 1:32 PM, Marcelo F C Gomes <notifications@github.com

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-10-18 17:50] xmnlab opened #22 "Metting, 21st - 14:00 pm (-0200)"
**Subjects:**
- alignments about the project;
- activities progress;
- schedules;
  ...

_@fccoelho @marfcg, feel free to update the subject list_

[2016-10-18 17:51] xmnlab commented on #21
great! https://github.com/FluVigilanciaBR/fludashboard/issues/22

[2016-10-18 17:51] #21 closed, assigned to xmnlab

[2016-10-18 21:47] marfcg commented on #3
Okay, finally pushed the new notebook for the incidence time series.
It's in the Notebooks branch https://github.com/FluVigilanciaBR/fludashboard/commit/08c8b14e6187285e3d02eaa54c3268c99c363bd3

[2016-10-18 22:44] xmnlab commented on #3
great!

I've seen it now, thanks! I will see it with more attention tomorrow. :+1:

[2016-10-20 20:45] marfcg commented on #3
Please take a look at https://github.com/FluVigilanciaBR/fludashboard/commit/0e77a9ac9d488b5086e2bf86f05fe00c1cd15902
Age distribution histogram included in https://github.com/FluVigilanciaBR/fludashboard/blob/master/Notebooks/incidence_with_indicators.ipynb

I believe we have everything ready for the weekly panel (aka "Detalhado" https://github.com/FluVigilanciaBR/fludashboard/issues/1#issuecomme

[2016-10-21 19:57] #22 closed, assigned to xmnlab

[2016-10-21 19:58] xmnlab opened #23 "Metting, 4th - 14:00 pm (-0200)"

[2016-10-21 21:46] xmnlab opened #24 "add age range chart"
Example:

![age-chart](https://cloud.githubusercontent.com/assets/5209757/19612731/069fad38-97c7-11e6-95d1-dfa057319ef2.png)

[2016-10-21 22:10] xmnlab opened #25 "add text information on incidence chart"
If the the situation is stable, show:

[code]

if the situation is estimated, should show the probability of activity levels:

[code]

[2016-10-21 22:49] xmnlab opened #26 "incidence chart - add estimated line and confidence interval line"

[2016-10-21 22:58] xmnlab opened #27 "data table - add situation column and confidence interval on incidence value"
Example:

| Unidade da Federação | Situação | Incidência (por 100 mil hab.) |
| :-- | :-- | :-- |
| Rondônia | Dados incompletos. Sujeito a grandes alterações | *0.00 |
| Acre | Dados incompletos. Sujeito a grandes alterações | *0.00 |
| Amazonas | Dados incompletos. Sujeito a grandes alterações | *0.00 |
| Roraima | Dados incompletos. Sujeito a grandes alterações | *0.00 |
| Pará | Estimado. Suje

[2016-10-21 23:08] xmnlab commented on #3
great! thank you!

[2016-10-21 23:08] #3 closed, assigned to marfcg

[2016-10-21 23:09] #8 closed, assigned to fccoelho, marfcg

[2016-10-21 23:09] #14 closed, assigned to fccoelho, marfcg

[2016-10-21 23:12] xmnlab commented on #5
The next release is been done in Portuguese language.

[2016-10-21 23:12] #5 closed, assigned to nobody

[2016-10-24 16:24] marfcg commented on #3
@xmnlab Athough this issue is already closed, I have pushed a recent commit to Notebook branch which incorporated info for the summary panel (aka Resumido at https://github.com/FluVigilanciaBR/fludashboard/issues/1#issuecomment-252327525). I've referenced this issue to keep it properly documented.

[2016-10-25 18:13] xmnlab commented on #3
Great! I will see that tomorrow (I'm finishing the refactoring the
front-end codes...)

[2016-10-25 19:08] xmnlab commented on #23
@marfcg @fccoelho

Is 14 o'clock good for you all?

[2016-10-25 19:10] xmnlab opened #28 "map chart legend"
@marfcg

Should the map chart show a color legend panel?

[2016-10-26 01:46] xmnlab opened #29 "SRAG data"
@marfcg
- What is the relationship between SRAG and ages values? In the examples bellow SRAG data is less than the sum of ages values. In the graphs, the y axis was named as "Incidência por 100 mil habitantes" in both Age and Incidence Chart.
- What does  SRAG information mean for "Brasil" State? should be the sum of the SRAG of all states for a specific week? In the example bellow, the SRAG of Br

[2016-10-26 06:13] marfcg commented on #29
@xmnlab in the dataset all columns represent the incidence for the corresponding population, per 100 thousand.
This means that:

`x_j = C_j × 100000 / N_j`
where x_j is the incidence per 100 thousand, C_j is the reported number of cases and N_j is the population of that particular group.

In terms of absolute number of cases SRAG is in fact the sum of cases reported in all age groups for the same

[2016-10-26 15:50] marfcg commented on #28
Yes, it would be good to have one.
Do you need the text for those?
I believe they are writen either on the notebook or on one of the issues
(I'm currently traveling  with low Internet connectivity).
Let me know if you need them and for which panel (detalhado /resumo).

---

*Sent from mobile device. My apologies for eventual typos.
Marcelo Ferreira da Costa Gomes
Programa de Computação Científica

[2016-10-26 19:41] xmnlab commented on #29
@marfcg Thank you for the detailed explanation!!!

[2016-10-26 19:41] #29 closed, assigned to marfcg

[2016-10-26 19:53] xmnlab commented on #28
Great! thank you.

Should be the text:
- 'Baixa';
- 'Epidêmica';
- 'Alta';
- 'Muito alta'

?

[2016-10-30 14:45] marfcg opened #33 "Seasonal levels"
In the current version, at the summary view ('Resumido'), the levels are not being correctly labelled for the yellow, orange and red levels.
According to ECDC's criteria we are using, orange and red levels should be triggered when the high or very high thresholds are crossed (https://github.com/FluVigilanciaBR/fludashboard/issues/1#issuecomment-247668389).
Currently, those levels are being activat

[2016-10-30 14:52] marfcg opened #34 "Input data"
I believe we don't need the population file https://github.com/FluVigilanciaBR/fludashboard/blob/master/data/PROJECOES_2013_POPULACAO-simples_agebracket.csv any more.
It is not needed at any panel and neither is it needed to complement the info on the other input files.

We should look into the codes to remove any call to that file.

[2016-10-30 15:53] xmnlab commented on #34
Ok! I will see that :)

[2016-10-30 15:54] xmnlab commented on #33
Ok, I will see that! :)

[2016-10-30 15:57] xmnlab commented on #7
In the last days, I was trying to using readthedocs with javascript code. At this moment I have no success, I will back in this issue when release 0.1 is done.

[2016-10-31 14:15] xmnlab commented on #6
@marfcg @fccoelho

Do you all want to preserve the prototype app? I mean this was the base of fludashboard app, we don't need this anymore.

Can I remove that?

[2016-10-31 14:43] marfcg commented on #6
I agree with you. Feel free to remove it.

[2016-10-31 15:18] fccoelho commented on #6
Sure. Remove it.

On Mon, Oct 31, 2016 at 12:43 PM, Marcelo F C Gomes <
notifications@github.com> wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-10-31 15:44] #6 closed, assigned to xmnlab

[2016-10-31 15:44] #34 closed, assigned to xmnlab, marfcg

[2016-10-31 16:09] marfcg opened #36 "Brazilian epidemiological week system"
When setting the current week to show on the panel upon loading, we need to use the Brazilian epidemiological week definition, which is different from the ISO calendar one.

For that purpose, we created a python module episem.py based on Oswaldo G. Cruz's R function to extract the epiweek from a given date.
Using ISO calendar to set the week can potentially lead to errors.

There's a new notebook

[2016-10-31 16:15] xmnlab commented on #36
great, I will take a look 👍

[2016-10-31 18:48] xmnlab commented on #33
@marfcg,

you are right :)

I think the code fixed should be:

[code]

I also will change the code to use properly the L# (L0, L1, L2, L3) fields properly too.

[2016-10-31 18:48] #33 closed, assigned to xmnlab

[2016-11-01 11:37] #24 closed, assigned to xmnlab

[2016-11-01 11:41] marfcg commented on #28
Yep, that's pretty much it.
Just for completeness sake:
If the legend is to have a title, it should structured as:

[Title] Nível de atividade:
- Baixa;
- Epidêmica;
- etc.

If it is easier/cleaner without title, than just add a prefix "Atividade" before each level, i.e.:
- Atividade baixa;
- Atividade epidêmica;
- etc.

[2016-11-01 11:59] marfcg opened #38 "Week selector"
Week selection is working flawlessly with the slider.

Nonetheless, there are a few enhancements that would be great to have:
- When moving the slider, continuously change the value on the box so the user can check where he is before releasing mouse button;
- Allow week selection by entering value in the box directly;
- Be able to use cursor to move slider.

I'm not familiar with js and JQuery, bu

[2016-11-02 00:14] xmnlab commented on #38
Thank you a lot for the examples!

[2016-11-02 00:14] #38 closed, assigned to nobody

[2016-11-02 01:56] xmnlab commented on #28
done (using title)

[2016-11-02 01:56] #28 closed, assigned to xmnlab

[2016-11-02 16:49] xmnlab opened #40 "map color alert in non stable mode"
@marfcg

At this moment, the color map does not make difference about stable and no stable mode.

How should be the criteria? should we use the probability with the higher value? in this case, if 2 or more probabilities have the same value, what is the criteria to be elected?

the current algorithm used is (calc_srag_alert.py):

[code]

I'm working to use the new fields (L0, L1, L2, L3).

[2016-11-02 21:09] marfcg commented on #40
Yep, the idea is to grab the higher value. In the Notebook there is an example using pandas (https://github.com/FluVigilanciaBR/fludashboard/blob/master/Notebooks/incidence_and_age_weekly_panel.ipynb Section 1.3).
I hadn't thought about the possibility of equal probabilities though. In fact, I do not know how pandas would deal with it in that case, I'll look into it.

In any case, we have a few op

[2016-11-03 09:21] fccoelho commented on #40
@marfcg I'll read the notebook the understand better the problem and then
I'll give you my feedback on this.

On Wed, Nov 2, 2016 at 7:15 PM, Marcelo F C Gomes notifications@github.com
wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-11-03 17:25] marfcg commented on #40
To give some context:

For recent weeks, where we have estimated number of reported cases, we also have the probability of falling in each activity level (L0: x < epi; L1: epi < x < high; L2: high < x < very high; L3: x > very high).
Therefore, when defining the activity level for that week, we must check which one has the higher probability. As @xmnlab pointed out, it could happen to have more th

[2016-11-03 19:13] xmnlab commented on #40
@marfcg @fccoelho

Maybe this is more complex than I was thinking ...

I think that this dashboard will be used as a alert panel .. something to alert posible problems.

So I think the best choice will be use the higher level when 2 or more levels have the same higher value (i.e when this: L0=0.1, L1=0.33, L2=0.33, L3=0.33, show: very high probability in the map (red color)).

So we can keep the a

[2016-11-03 20:03] marfcg commented on #40
I'm of the same opinion, given my take on the system's goal.

I just want to check whether @fccoelho and @claudia-codeco agree, since
they have more experience dealing with health authorities.

## Cheers,

*Sent from mobile device. My apologies for eventual typos.
Marcelo Ferreira da Costa Gomes
Programa de Computação Científica
Fundação Oswaldo Cruz
PROCC/FIOCRUZ

On Nov 3, 2016 17:13, "Ivan" not

[2016-11-03 20:44] xmnlab commented on #25
@marfcg @fccoelho

In Resumed View (whole year view), what is the information that should be displayed in an estimated period?

[2016-11-03 22:29] xmnlab commented on #40
I think the code bellow can return the alert rank in any situation (stable, estimated, unknown):

[code]

What do you think?

[2016-11-03 23:16] marfcg commented on #40
Yep, that should do the trick keeping the "worst level" approach.

[2016-11-04 09:46] fccoelho opened #41 "Reduce all numbers displayed to 2 decimal places"
Floating point number in the legends and tables should be shown rounded up to 2 decimal places.

[2016-11-04 09:52] fccoelho opened #42 "Figure "Dist. por Gênero e Idade" has no gender"
Add gender information by splitting the age bar into male and female.

Please check that missing cases are not being counted in the first age class (which is much higher than the rest)

[2016-11-04 09:57] fccoelho opened #43 "Keep layout of incidenc table the same when a single state is selected"
When a state is selected table goes from having two columns to having a single column. The layout should remain the same to avoid confusion to the user.

[2016-11-04 10:08] fccoelho commented on #40
Guys, @claudia-codeco and I have discussed an think that when there is a tie, we should go for the lowest level, to be conservative. We don't want to raise unnecessary alarm (with low probability)

Also @claudia-codeco suggested that when we paint the map with **predicted** levels, a warning label stating that, should be clearly visible

[2016-11-04 12:43] fccoelho commented on #25
I think it should display the estimated number of cases and the alert level.

On Thu, Nov 3, 2016 at 6:44 PM, Ivan notifications@github.com wrote:

##

# Flávio Codeço Coelho

+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-11-04 13:21] xmnlab commented on #40
great!

[2016-11-04 13:21] #40 closed, assigned to fccoelho, claudia-codeco, marfcg

[2016-11-04 13:52] marfcg commented on #25
The sum of the estimated number of cases can be obtained by looking at the column "50%".
When data is already consolidated, I have copied the reported value to that column, so that we can always look there.

One thing, though: for the range we will need to take one step back. We have the percentiles per week
but this cannot be simply summed up to provide ranges for accumulated number of cases (at

[2016-11-07 21:22] xmnlab commented on #43
done!

[2016-11-07 21:22] #43 closed, assigned to xmnlab

[2016-11-07 21:23] xmnlab commented on #27
done!

[2016-11-07 21:23] #27 closed, assigned to xmnlab

[2016-11-07 21:33] xmnlab commented on #25
OK.

I will finish this issue and next I will open a new issue to review the criteria for resumed data.

[2016-11-07 21:33] #25 closed, assigned to xmnlab

[2016-11-07 21:34] xmnlab opened #45 "review text information on incidence chart (resumed view)"

[2016-11-07 22:17] xmnlab commented on #36
done

[2016-11-07 22:17] #36 closed, assigned to xmnlab

[2016-11-07 22:18] xmnlab commented on #23
canceled.

[2016-11-07 22:18] #23 closed, assigned to xmnlab

[2016-11-08 01:17] xmnlab commented on #26
done

[2016-11-08 01:17] #26 closed, assigned to xmnlab

[2016-11-08 19:40] xmnlab opened #47 "check the incidence chart size"
@marfcg @fccoelho

can you check if the incidence char size is good?

I think when the appt shows the estimated cases and CI lines the chart size is very small to understand these lines.

What do you think?

[2016-11-08 21:21] #41 closed, assigned to xmnlab

[2016-11-08 21:23] xmnlab commented on #45
the values displayed was fixed to be showed as percentage

[2016-11-08 21:38] xmnlab opened #48 "add javascript section into readthedocs"

[2016-11-10 21:55] xmnlab commented on #48
the js documentation will be done using jsdoc-sphinx

https://www.npmjs.com/package/jsdoc-sphinx

[2016-11-10 21:55] #48 closed, assigned to xmnlab

[2016-11-10 21:57] xmnlab opened #50 "Create a script to automate the doc files generation"

[2016-11-11 15:07] xmnlab commented on #42
@marfcg,

have you have an estimated date to release gender information separated by age?

@fccoelho, maybe this information has some sense (IMHO). When we are in the age to go to school or to work, generally we don't go to the hospital just because we have flu. But, when our kids has flu we need to take them to the hospital. Indeed, kindergartens do not accept the entrance of kids/babies with flu

[2016-11-11 16:39] xmnlab commented on #48
http://fludashboard.readthedocs.io/en/latest/#front-end-contents

now, I will improve the docstring to get better the final code documentation.

[2016-11-11 17:28] marfcg commented on #42
I have checked the age distribution code and eyeballed a few samples from the data and it seems to be correct. I already knew that < 2 yo had a huge impact, but I was also impressed by the absurd difference.
By the way, the current age bracket used is how IBGE aggregates the yearly population estimate by State. For SRAG it would be better to have <2 yo as a separate bracket, but population estimat

[2016-11-14 14:38] xmnlab commented on #42
@marfcg thank you for the explanation 👍  :)

[2016-11-14 18:10] xmnlab commented on #7
jsdoc references: http://speakingjs.com/es5/ch29.html

[2016-11-14 19:47] xmnlab opened #52 "write js doc string"
Complete the JS docstring.

Reference: http://speakingjs.com/es5/ch29.html

[2016-11-14 19:50] xmnlab commented on #52
done.

[2016-11-14 19:50] #52 closed, assigned to xmnlab

[2016-11-14 21:25] marfcg commented on #42
Sorry for the mess with close/reopen.
The changes introduced fixes the issue as long as input data and notebook example goes. There's still the need to implement those changes into the dashboard.

[2016-11-14 23:38] xmnlab opened #53 "Create unittests"
Create unittests to test URL requests.

[2016-11-15 20:27] xmnlab commented on #42
don't worry .. This may have happened due to the text "fix + # issue number" 👍
I'm working to update the dashboard.

[2016-11-18 19:50] #42 closed, assigned to xmnlab, marfcg

[2016-11-18 19:50] #53 closed, assigned to xmnlab

[2016-11-18 20:07] marfcg opened #55 "Unittest fail"
Although the system is working, the unittest is returning a failure due to file not found. The weirdest thing is that the files ARE there...

I have accepted the merge since the issue with the new data structure has been solved and we now have the age distribution by gender working nicely for the detailed panel. We need to check what's going on with the unittest, the app itself is reading the data

[2016-11-18 20:15] xmnlab commented on #55
@marfcg I'm working to solve this problem.

the problem is in setup.py and path references.

I have had some progress but not fineshed yet.

[2016-11-18 23:04] marfcg opened #56 "Age distribution and incidence table on summary panel"
On the summary panel, both age distribution and incidence table are showing the info for thelates week alone, not for the season's aggregate.

The notebook has been updated (5c8fd40) with examples of those two informations with the new data structure

[2016-11-21 17:16] #55 closed, assigned to xmnlab

[2016-11-21 18:02] marfcg commented on #47
Sorry for the long delay on this one.
Maybe you could try increasing the height of both upper panels (map and incidence chart) a little bit. If it is relatively simple to tweak with this setting, feel free to point to where it sits in the code. This way I can play around with it.

But it is readable anyway. It's definitely a minor issue.
Great job!

[2016-11-21 18:03] marfcg commented on #45
Looks fine by me.

[2016-11-21 18:03] #45 closed, assigned to xmnlab

[2016-11-21 18:14] marfcg opened #58 "Incidence chart with fixed x axis limits"
I believe it would be good to have the incidence chart with fixed x-limits in the interval [1,last epiweek]
Where last epiweek = 52 or 53, depending on the year.

In this way, the user can see the current week when entering the page and still see what is the historical prospect for the season.

Using module episem.py (https://github.com/FluVigilanciaBR/fludashboard/blob/master/Notebooks/episem.py)

[2016-11-22 19:08] #56 closed, assigned to xmnlab

[2016-11-23 17:20] #47 closed, assigned to fccoelho, marfcg

[2016-11-23 18:36] #58 closed, assigned to xmnlab

[2016-11-26 21:06] xmnlab opened #62 "General review"

[2016-11-26 21:09] xmnlab commented on #62
- [x] As curvas de tendência (os "corredores") e os limiares possuem valor até a semana 52, mesmo quando os dados de casos não estão presentes. Ficaria só a curva de incidência truncada, estas outras são desenhadas até o final;
- [x] em summary: Na tabela a situação "estável" e "incompleto" está invertida;
- [x] check incidence curve example with state where estimates are not available (e.g. Rondô

[2016-11-29 17:49] xmnlab commented on #62
@marfcg do you see any other problem to be fixed? or can we close this issue?

[2016-11-29 17:53] marfcg commented on #62
I'll do another pass to check and either add another bullet point or close it. Thanks a lot for the updates! ;)

[2016-11-29 18:00] #62 closed, assigned to xmnlab

[2016-11-29 18:27] marfcg opened #64 "Documentation tab"
@xmnlab Create another page as a tab/button for documentation regarding color scheme criteria.
It would be a simple doc page where we specify:

For the detailed panel:
- [x] color scheme for the map,
- [x] thresholds for the incidence chart,
- [x] background areas for the incidence chart,
- [x] age distribution chart,
- [x] incidence table,

For the summary panel:
- [x] color scheme for the map,
-

[2016-11-30 19:48] #50 closed, assigned to xmnlab

[2016-12-13 17:46] xmnlab commented on #64
maybe would be nice add the explanation video in this doc

[2016-12-13 17:51] xmnlab commented on #64
must the documentation be displayed in portuguese?

[2016-12-13 17:55] xmnlab commented on #64
would be better a separated page with all documentation or a float panel for each chart (we can help icons to open each panel)?

[2016-12-14 19:37] marfcg commented on #64
I have produced both Portuguese and English versions. But, for the site we should use Portuguese as the default.

The idea of help icons is nice. I'm just not sure the text is small enough. But it's definitely interesting.
We could have the full info on a separate page and the help icons with the corresponding text and a link to it's section in the help page.

I have inserted the video in the READ

[2016-12-14 20:17] xmnlab commented on #64
we should use Portuguese as the default.

OK

enough. But it's definitely interesting.

the corresponding text and a link to it's section in the help page.

OK

show the embedded video when opening the rst file inside github, the
generated html has it.

maybe here [1] you can find some idea.

[1] http://stackoverflow.com/questions/11804820/embed-a-you-tube-video

[2017-04-24 17:40] #64 closed, assigned to fccoelho, claudia-codeco, xmnlab, marfcg

[2017-04-24 17:46] xmnlab opened #73 "Add new navbar to the layout"
- [ ] inserir a barra do governo http://barra.governoeletronico.gov.br/
- [ ] uma barra com logo da fiocruz (exs: www.ensp.fiocruz.br/portal-ensp/ e www.ini.fiocruz.br) + EMAp-FGV;

Na pasta data há um svg com o logo da fiocruz e do procc já com as especificações da identidade visual da Fiocruz. Isso poderia ser incorporado no que hoje é a barra superior "Monitoramento de casos ..." ou na segunda

[2017-04-24 17:51] xmnlab opened #74 "Help page changes"
From @marfcg:

https://github.com/marfcg/fludashboard/tree/documentation

Tasks:

- [x] Help page doesn't keep the nav bars and logo;
- [ ] Help page is using the old version of README-pt_br, with "Implantação" and "Executando ..." sections;

[2017-04-24 17:54] xmnlab opened #75 "Remove limit to view from datatables"
From @marfcg

[2017-04-24 18:15] marfcg commented on #73
Fiocruz navbar already has Fiocruz's logo, there's no need to fiddle with that. It's independent of EMAp-FGV and PROCC logos.

EMAp-FGV logo can be placed on dashboard's bar directly using this file:
https://github.com/marfcg/fludashboard/blob/documentation/data/logo.svg

In doing this, we comply with the regulations regarding government and Fiocruz websites with those 2 navbars, plus departments

[2017-04-25 17:53] #73 closed, assigned to xmnlab

[2017-04-25 17:56] #75 closed, assigned to xmnlab

[2017-04-25 18:10] xmnlab commented on #74
From @marfcg

OK, I'm going to include this into the help page

OK .. I'm going to take a look there.

I need to look for that in the history.

[2017-04-25 18:14] xmnlab opened #77 "Color code label to the map"
From @marfcg

Do you talk about the info frame with this information?

In our map, we put that on the "i" button.  You should put the mouse over i button to see the legend.

[2017-04-25 18:39] xmnlab commented on #74
- [x] Help page doesn't keep the nav bars and logo;
- [ ] Help page is using the old version of README-pt_br, with "Implantação" and "Executando ..." sections;

[2017-04-25 18:43] xmnlab commented on #74
@marfcg

I'm using sphinx to create the help page.

[2017-04-25 18:52] xmnlab commented on #74
@marfcg

I need to analyze the method of generate help page .. but posible maybe something like that:

Documentation
=============

The documentation can be generated following the example bellow (http://stackoverflow.com/questions/13838368/no-generation-of-the-module-index-modindex-when-using-sphinx):

::

    $cat mymodule/mymodule.py
    def fn1():
        '''First function'''
        pass

[2017-04-25 19:08] xmnlab commented on #74
@marfcg

Sorry .. it is not about the documentation page .. documentation page is prepared using readthedocs, we are not using sphnix (directly).

I will take a look about how I used rst2html before.

[2017-04-25 21:36] xmnlab commented on #74
@marfcg

I could do it with:

https://pypi.python.org/pypi/rstyoutube/0.1.1

[code]

but I needed to run 2to3 in the rstyoutube.py (you should see where the file will be installed)

[code]

[2017-04-25 21:37] xmnlab commented on #74
@marfcg and to copy to help.html it is manually .. I putted some comments to help this step.

[2017-04-26 13:58] #74 closed, assigned to xmnlab

[2017-05-04 15:21] marfcg opened #81 "Navbar links"
A few issues with links in the website navbar:
- [x] Brazilian government navbar links are not redirecting to the appropriate address (**major**)
- [x] Fiocruz navbar links are opening in a new window, while in principle they should open in the same window (not carved in stone, but usual practice - **minor**)
- [x] Each logo should point to the respective url (InfoGripe to the main page, EMAp and

[2017-05-04 16:04] marfcg commented on #81
@fccoelho I've seen that the third one is already implemented on InfoDengue's website, but I couldn't find the source code for that... :/

Could you point me to it?
I've found a guideline here:
http://tutvid.com/html-css-wordpress-tutorials/css-tutorial-image-replacementlink-logo-to-homepage/

But I'm nor sure how to implement this when we have several logos, two of them right aligned...
We alread

[2017-05-04 18:29] #81 closed, assigned to xmnlab, marfcg

[2017-09-28 14:45] marfcg commented on #77
Sorry for the absurd delay on this.
The idea is to have a box like the one we see on the bottom right corner here:
![colorbar1](https://user-images.githubusercontent.com/8262366/30972805-020d2ed4-a442-11e7-9f15-a90f02e9a33c.png)

[2017-09-28 14:50] marfcg opened #83 "nginx"
@xmnlab we realized that anaconda is consuming way too much space unnecessarily.
@fccoelho suggested implementing a deploy environment using nginx webserver as in the InfoDengue suite.

[2017-09-28 14:55] marfcg opened #84 "Dataset selector"
From the last meeting with MH, we were asked to implement the same system for three data sets:
- SRAG (as it is now);
- SRAG by Influenza ("SRAG por influenza");
- SRAG deaths by Influenza ("Óbitos por Influenza").

The datasets are ready for each case. One suggestion was to have a drop down menu or a tab for selecting each one of those.

Also, for each scenario they also want a way to change betw

[2017-09-28 15:18] xmnlab commented on #83
@marfcg  actually it is better to use miniconda .. it just install the basic of conda structure. Anaconda install a lot of packages unnecessary.

After install all pkgs you can do a conda clean [1]

I think it should be good :+1:

[1] https://conda.io/docs/commands/conda-clean.html

[2017-09-28 15:22] xmnlab commented on #77
This box was created into the "I" button in the map controller ... It was done to use better the map area. If the legend box should be always ON .. maybe we should zoom out the map.

[2017-09-28 15:38] marfcg commented on #77
I see your point.
For some reason it is not showing the colors on my screen, though...
I believe it could be a good idea to have it always on at the bottom left side.
Alternatively, another option would be to have it clickable, instead of just becoming visible when placing to cursor above the "i" icon on the map. This way, we could start with it ON and the visitor could close it by clicking on the

[2017-09-28 15:40] xmnlab commented on #77
This sounds good :)

[2017-09-28 18:36] marfcg opened #85 "Time series chart (weekly panel)"
Request from the MH:
- [x] Stop notified cases line (black curve) at the most recent date considered as stable.
- When user selects previous weeks then the current one:
  - [x] black curve should stop at selected week if already stable;
  - [x] present historical estimates for that week. For this one, I'll need to come up with a reasonable solution for the data;
- [x] Change either high activity l

[2017-09-29 02:05] xmnlab commented on #77
@marfcg

I test with a fixed legend box, change the window size .. and there is no overlapping

so I will fix the legend box at the right bottom corner

[2017-09-29 15:55] xmnlab commented on #84
@marfcg

There is a long time I don't work with this project .. can you tell me what should the information I need to use as parameters?

[2017-09-29 17:31] marfcg commented on #84
No worries. I'll polish the datasets to make it easier to parse, actually.

To show the prototype to them, I had adopted a "quick and dirty" solution of just creating new files with the exact same structure, so that I just called a different file to change from on scenario to another.

I'll provide a documentation as soon as I have the proper style set.
My idea is to have two extra columns in the

[2017-10-02 08:02] #77 closed, assigned to xmnlab

[2017-10-02 08:02] #83 closed, assigned to xmnlab

[2017-10-02 08:05] marfcg opened #87 "Map legend box - Firefox compatibility"
The legend box on the map panel is not displaying the colors on Firefox. Works fine on Chrome, though.

[2017-10-03 10:59] marfcg commented on #84
New file structure uploaded.
they can be found at fludashboard/fludashboard/data/new_structure/

All data files have two extra columns:
- column 'dados': 'srag', 'sragflu', 'obitoflu'
- column 'escala': 'incidência', 'casos'

Once the code is uptaded to take those into account, they can replace the ones on parent data folder and the new_structure can be deleted.

[2017-10-04 16:14] xmnlab commented on #87
@marfcg

I will take a look!

[2017-10-04 17:12] xmnlab commented on #84
@marfcg

I will take a look :)

PS: I created 3 new labels for priorities (low, normal, high) .. you can use it to organize the priorities of each issue :)

[2017-10-04 17:14] xmnlab commented on #84
We can create a new branch called develop, and there we can already do this replace .. and when all is done you merge into the master branch. What do you think?

[2017-10-04 17:53] #87 closed, assigned to xmnlab

[2017-10-04 22:50] xmnlab commented on #84
@marfcg

great! when you merge the new branch I will update my env.
Thanks!

[2017-10-05 07:53] marfcg commented on #84
So,
In the new datasets, for any given file loaded as a pandas data frame df, each subset can be filter from those two columns.

For instance, for displaying SRAG data in terms of incidence or cases, the subset can be obtained as

[code]
So each tab SRAG, SRAG por Influenza, and Óbitos por Influenza would toggle the dataset object, while the switch Incidência / Casos would toggle scale.

The maste

[2017-10-05 14:18] xmnlab commented on #84
@marfcg

Great! Thanks!

can you make a PR with your development branch?

[2017-10-05 14:38] marfcg commented on #84
Oops. I thought I had already done that... it's here, now.

[2017-10-05 14:40] xmnlab commented on #84
Thanks :)

[2017-10-05 14:57] xmnlab commented on #84
@marfcg

I drew a layout (draft) with  these new options. can you review it?

![detalhado](https://user-images.githubusercontent.com/5209757/31234028-db3f938a-a9bb-11e7-8de0-423a94314eb3.png)

Any considerations will be appreciated.

[2017-10-10 09:18] #84 closed, assigned to xmnlab

[2017-10-10 09:20] marfcg opened #90 "Position of label and drop-down menus for dataset selection"
Is it possible to have the drop-down menus with the same starting x-position?
With either right aligning the labels with respect to the drop-down (as in dataset_menu-proposta.png) or keeping the label as it is and matching the drop-down position (as in dataset_menu-proposta2.png)?

The dashed line in the first is the position to which the labels should be right-aligned (end of text), while on the

[2017-10-10 13:52] xmnlab commented on #90
@marfcg .. I will take a look :+1:

[2017-10-10 14:36] xmnlab commented on #90
@marfcg

![layout](https://user-images.githubusercontent.com/5209757/31392200-a948f47c-ada6-11e7-8a44-765fde594288.png)

I like this option because it is the same idea of the field year.

what do you think about this option?

[2017-10-10 21:33] xmnlab commented on #85
@marfcg

how much is most recent?

[2017-10-10 21:35] xmnlab commented on #85
@marfcg

do you have any idea of date when you can prepare the data?

[2017-10-10 23:04] xmnlab commented on #85
@marfcg

Previously red area was just a region on the chart (not a data), I needed to add a red data to show it with a legend. What do you think about about the legend and the red area on the chart?

![layout](https://user-images.githubusercontent.com/5209757/31414755-828ab522-aded-11e7-9409-e6c0a8b3daab.png)

[2017-10-11 09:38] marfcg commented on #85
Is it possible to have the legend for the lines being lines (solid/dashed accordingly) instead of color boxes?
This way, it will be easier to identify what is what.
Here goes a suggestion, with a slight change in colors (changed in the legend only).
What do you think?
For the confidence intervals, if you want to keep both for the highlighting property on mouse hover, you can label them "Intervalo

[2017-10-11 09:48] #90 closed, assigned to xmnlab

[2017-10-11 09:57] marfcg commented on #85
It is one week before the estimates start (it varies for each UF, dado, escala).
So, the idea is that the solid black line would only go as far as the beginning of the estimate and confidence interval curves.

From the current_estimated_values.csv file, in the column Situation, for each UF, dado and escala defined by user, the most recent stable data reported is the last one with column Situation=

[2017-10-11 11:53] marfcg commented on #85
I'm finishing a model today. It will have the same columns as current_estimated_values.csv plus: 'base_epiyearweek', 'base_epiyear', and 'base_epiweek', which are the epiyearweek, epiyear and epiweek with respect to which the estimates were ran.
So, if the user selected year=2017 and week=24, you can filter this data set by the columns
`(base_epiyear == 2017 & base_epiweek == 24)`
This will subset

[2017-10-11 18:08] marfcg commented on #85
Data file historical_estimated_values.csv added, with structure as mentioned above.

[2017-10-11 18:35] xmnlab commented on #85
Great! Thanks. I will take a look :)

[2017-10-11 22:53] xmnlab commented on #85
great! I will do it .. I opened a issue to ask that at c3 repo but I have no answer at this moment.

so I think it is a better option for a moment.

[2017-10-11 23:39] xmnlab commented on #85
@marfcg

![layout](https://user-images.githubusercontent.com/5209757/31472258-a496ab84-aebb-11e7-99ba-f3936272cf0d.png)

This would be ok for a while?

I need more time to do likely your prototype .. another option should be th
e creation a box into the chart with zone legend, but I think it is not a good option, because the box could overlap the chart.

EDIT:

maybe we can do something like that:

[2017-10-12 02:29] xmnlab commented on #85
@marfcg

what do you think about this?

![layout](https://user-images.githubusercontent.com/5209757/31476269-9aee4b7e-aed3-11e7-9a28-a705b6d1b3f5.png)

[2017-10-12 02:58] xmnlab commented on #85
so should I change the filter from `epiyear` and `epiweek` to `base_epiyear` and `base_epiweek`?

[2017-10-12 16:05] xmnlab commented on #85
@marfcg

Is it that what you want?

![layout](https://user-images.githubusercontent.com/5209757/31506461-7e9c7f5a-af45-11e7-9b72-7e3b5eab3129.png)

PS: I still using the old data.

[2017-10-12 16:17] marfcg commented on #85
That's the idea.

Then, the estimates drawn should be the ones from the historical_estimated_values.csv with base_epiweek == week (in your example, 23). In this way, for that week we can see how good the estimates were when compared to the actual number of notified cases once the data is stable.

[2017-10-12 20:04] xmnlab commented on #85
@marfcg

sorry I haven't understood yet this data ... the historical csv should replace the current_estimated_values ?

with this filter:

[code]

I receive a list with 90 rows and ...

* epiweek range (df_hist2017.epiweek.unique()):

[code]
* base_epiweek range (df_hist2017.base_epiweek.unique())

[code]

After analyse this data ... I think this file should be used just for the estimative cases .

[2017-10-13 10:08] marfcg commented on #85
Yes, the historical_estimated_values is just for the estimates, while curent_est is the most up-to-date data, used for the notification counts.
I have just updated the current_estimated_values.csv file with the one generated at the same time as the historical one. The following comment apply to this dataset.

If you compare the `df_hist2017[(df_hist2017.epiweek == 33)]` slice with the slice on df_

[2017-10-13 10:13] marfcg commented on #85
So far, just for testing the functionality, I have retrospectively generated estimates with base_epiweek 23:33 to populate the historical file. That's why we only have those base weeks there.

PS: 32 is not there because of a stupid mistake I made, but it doesn't affect testing so don't worry about it.

[2017-10-17 00:22] xmnlab opened #93 "Info about state codes"
@marfcg

Selecting data from mem-typical.csv I can obtain this information about state codes:

[code]

Will this information suffer any modification in the future? Can I create a table or a dict using this information?

[2017-10-17 09:42] marfcg commented on #93
Those pairs will maintain correspondence.
You can add the following to this list, which are related to the official geopolitical regions of Brazil:
[code]

[2017-10-17 15:21] xmnlab commented on #93
Thanks!

[2017-10-17 17:10] #93 closed, assigned to marfcg

[2017-10-18 22:29] #85 closed, assigned to xmnlab, marfcg

[2017-10-18 22:40] marfcg opened #96 "Time series chart - startup week"
One thing that I forgot on the list of enhancements for the time series: when accessing the web page, the default epiweek should be the most recent for which we have data/estimates.
This would be

[code]

Where df_hist is the historical estimates file

[2017-10-19 15:32] xmnlab opened #97 "Improve performance and create a temporary database"
@marfcg

Maybe to improve the performance we should create a temporary sqlite database from csv for each time the app is started.

And we maybe could normalize this data.

And all (or almost) filters should be done in sql level ... so I think we will improve the performance a lot

What do you think?

[2017-10-20 13:42] marfcg opened #98 "Question: notebooks and prototype folders"
Question from a newbie in terms of structuring files and branches for release.
The central point of folders Notebooks/ and prototype/ is to helps us through dev, right? That is, they are not needed for production. It doesn't hurt to have them there, but they are not needed either.

So,
a) Should we create separate branches to keep them (e.g. one dubbed notebooks and one dubbed prototypes, which wo

[2017-10-20 15:04] xmnlab commented on #98
@marfcg

it is a good question. Actually I like to think this folders as part of the documentation. So, I think it is better to keep them into the branch (master and development)

for production environment, I think to create a package pypi and conda and, to prepare the environment, we just install the package fludashboard (and automatically will install its dependencies).

And in the package crea

[2017-10-20 15:19] marfcg commented on #98
Sounds great.

In this scenario, at the server we would only install the package itself, without cloning the main branch.
So, what we need is then to create those packages from the current stable version (main branch).

We could tag it now with v0.3 and, once #96 is completed we move to 0.3.1.
Or, wait for that issue to be closed before tagging and building the package.

Have I got it right?

[2017-10-20 15:26] xmnlab commented on #98
yes!

The version in fludashboard.__init__.py is already set to 0.3.0

but before create the tag, I need to test the setup install locally.

When it is done I can create the tag 0.3.0

ok?

[2017-10-20 20:25] xmnlab commented on #98
@marfcg

I need to set these information on setup.py:

[code]

What should I put there?

[2017-10-20 21:17] xmnlab commented on #98
about the data

What is the frequency that these data should be updated?

maybe should be better to remove the data from the project and add them into another repo.

and we can upload the data when the app is started, or something like that.

[2017-10-21 13:05] marfcg commented on #98
Ideally, they will be updated every week.
They are generated by the seasonality tool, and stored here:
https://github.com/FluVigilanciaBR/seasonality/tree/master/methods/clean_data

Every time they are generated, I copy them to fludashboard/data.
As I've mentioned a while ago, the end goal is to actually have seasonality writing them to a database which is then read by fludashboard. Unfortunately,

[2017-10-23 14:25] xmnlab commented on #98
It seems to me that an alternative is to create a data repo within FluVigilanciaBR, and use it as a submodule in seasonality.

great! :+1:

maybe we can start using a sqlite ... a very simple database .. we can write a script to migrate from csv to sqlite and make some normalization. If the performance is ok, we can keep with this, if not, we can think to export to postgresql.

what do you think?

[2017-10-23 17:18] marfcg commented on #98
Well, the creators are basically you and me, I believe.
@fccoelho also helped discussing the layout. He can also be part of the list. What do you say, Flavio?
From my part, you can put my institutional email: marcelo.gomes@fiocruz.br

[2017-10-23 17:29] marfcg commented on #98
Data repo:
https://github.com/FluVigilanciaBR/data

Files are inside `data/` folder on that repo.

[2017-10-24 20:13] marfcg opened #100 "Conda cerate env error with requirements-dev.txt"
I've tried to create a conda env using requirements-dev.txt, to install fludashboard-dev, and got an error at the shell requirement:
[code]
Setting up an env with requirements.txt went ok, though.

[2017-10-24 20:18] marfcg commented on #100
Ok. I see what the problem is. I assumed it was the same file as conda uses for setting up the environment, which it is not. My bad.

[2017-10-24 20:18] #100 closed, assigned to xmnlab

[2017-10-24 20:24] marfcg opened #101 "fludashboard.runwsgi errors"
fludashboard.app is running fine on both development and production install.
With the runwsgi, on the other hand, I had some issues.

When running as normal user, after checking and downloading the data files, I get the following error:
[code]

When running as sudo, I get this one:
[code]

[2017-10-24 20:24] #98 closed, assigned to fccoelho, xmnlab

[2017-10-24 21:14] xmnlab commented on #100
ok .. another way to create a env is:

[code]

[2017-10-24 21:20] xmnlab commented on #101
ok .. I will think a way to put this log into the package root folder

when you use sudo, the system automatically use another python ... and probably a version before 3.4

maybe you can use sudo -e to run .. but it is not a good way ... I will fix the problem and you should run with normal user

[2017-10-24 21:34] marfcg commented on #97
Absolutely!

Do you have a structure in mind?

One possibility would be:
- One table for location id (unique keys*) and their full name, for state and regions;
- One with incidence and case counts, with location id, epiweek, and epiyear;
- One with columns gender and age brackets, with location, epiweek and epiyear;
- One with historical estimates (this also includes current situation for both est

[2017-10-24 22:01] #101 closed, assigned to xmnlab

[2017-10-24 23:54] xmnlab commented on #97
I think in first time just replicate into the data base and adjust the code ... but we can do it all at once.

It seems great!

I think we can have a situation table when each situation has an ID number and we can use this on the incidence an case counts table.

The best approach generally use number .. but we can use a string column, so it would be "1" instead 1 ...

If you find easy to create nu

[2017-10-25 19:15] marfcg commented on #97
@xmnlab check this branch: https://github.com/FluVigilanciaBR/data/tree/sqlite
It's an attempt to solve the present issue. I've added table description on the README. Please let me know if anything is not clear. I have changed some column names to make them clearer as well. Please let me know what you think of it.

[2017-10-25 19:19] xmnlab commented on #97
@marfcg

great! I will take a look :+1:

[2017-10-25 19:33] marfcg commented on #97
To facilitate the identification of the new columns:
- From what was historical and current estimates files, which have been translated into tables situacao, serie_temporal and estimativas:
[code]
- From report, typical, and clean_data_epiweek (the one used for the age and gender distribution) the only change is from 'UF' to 'código'

[2017-10-25 20:28] xmnlab commented on #97
@marfcg

great!

thanks!

[2017-10-25 21:45] xmnlab opened #103 "TAG 0.3.0"
@marfcg

can we create a 0.3.0 tag for the master branch?

the idea is try create a first package to validate the packaging workflow ...

and when the issue #96 we create the TAG 0.3.1

What do you think?

[2017-10-25 21:56] xmnlab commented on #103
Thanks!

[2017-10-25 21:59] xmnlab commented on #103
@marfcg

sorry ... my bad ..  the tag should be v0.3.0 (usually is written with the prefix v) .. I update the tag name :)

thanks!

[2017-10-25 22:40] xmnlab commented on #103
@marfcg

for some upload issues I needed to increase the version to 0.3.1

https://pypi.python.org/pypi/fludashboard

I'm sending a new PR with this version change .. and after merge I will create the new tag.

[2017-10-25 23:30] marfcg commented on #103
I've tested the installation with pip and all went well, by the way. \o/

[2017-10-25 23:37] xmnlab commented on #103
:D great!

[2017-10-26 08:47] marfcg opened #105 "module runwsgi"
@xmnlab How is the module fludashboard.runwsgi intended to be used?

If I just run `python -m fludashboard.runwsgi`, I notice two things:
- the data is always downloaded (which is nice since it would be updated automatically, I'm just checking whether this is the expected behavior);
- the system is not generated in any address/port. Is it intended to be run inside a webserver, right? If so, could

[2017-11-01 18:32] xmnlab commented on #103
@marfcg

the packaging failed .. I will take a look why that happens ... and when that is fixed I will close this issue.

[2017-11-01 18:33] xmnlab commented on #96
@marfcg

ok .. I will take a look!

[2017-11-01 18:43] xmnlab commented on #105
@marfcg

I though the runwsgi should be used in a docker container, so generally when we start the app, probably the data is not there ... for `python app.py` the app download data just if it is not there or update data when necessary. I should to improve this approach soon.

for runwsgi, these are the configs:

[code]
so the address of the app is the same address of the container and it is allowi

[2017-11-01 18:45] xmnlab commented on #105
it is configured to use 4 workers .. but if you think we can increase or decrease this workers we can change it.

these workers are instances of the app .. this is used for concurrent requests.

[2017-11-03 17:25] marfcg commented on #105
I've added Oswaldo (https://github.com/ogcruz) to the @FluVigilanciaBR/deployment team. I believe he should be part of this discussion since he is helping me with the deployment at our server. I have brought him up to date we the latest developments of the engine.

[2017-11-03 17:36] marfcg commented on #97
@xmnlab a few questions regarding the database:

- Do you believe it would be better to separate the datasets (srag, sragflu, and obitoflu) and the scale (casos, incidência) into tables of their own? Separating them would go into the direction of normalization, right? Would we benefit from it here?
- Should the column "situação" be given integer values and have another table with columns situation

[2017-11-03 19:06] xmnlab commented on #105
Great!

welcome @ogcruz!

[2017-11-03 19:09] xmnlab commented on #105
I want to create a settings file external from the package structure .. maybe ~/fludashboard.conf ... something like that ... so we can change the parameter of the application with no modification in the settings file in the package structure.

[2017-11-03 19:36] xmnlab commented on #97
If you want to know more about database normalization, take a look here: https://www.essentialsql.com/get-ready-to-learn-sql-database-normalization-explained-in-simple-english/

In practice, you should think what is the best choice for achieve your goals ... there is some differences between conceptual/logical database structure and "physical" (deploy)

if we would continue using csv .. maybe woul

[2017-11-03 19:47] xmnlab commented on #97
also it would be good to change the field names to english, change space to underscore and avoid to use symbols in the name. And use all character in lowercase ..

[2017-11-03 19:49] xmnlab commented on #97
would be good to change SRAG field name? or is this a good name regarding all dataset and scale attributes?

[2017-11-03 20:06] marfcg commented on #97
SRAG is definitely NOT a good field name, since it is a specific dataset. It was kept on the csv just to have the introduction of SRAGFLU and OBITOFLU faster with the working system that already looked at the column SRAG. Thatś  why I changed it to "registros" in the sqlite db.

Although I agree in principle, for this particular purpose I have mixed feelings about it. The thing is: we are focusing

[2017-11-03 21:26] xmnlab commented on #97
OK!

I see .. well so if we will use in portuguese so, would be good all fields in portuguese (with no accent, IMHO) ...

Actually I think that dataset and scale should be part of the primary key so the table would be normalized.

OK, sqlite doen't support enum (we can treat this in code ... it is not the best approach) ...

sqlite doesn't support datetime format ...

what do you think to use post

[2017-11-03 21:31] xmnlab commented on #97
you could use for regions numbers from another range number ... e.g.
[code]

[2017-11-03 21:33] xmnlab commented on #97
I will try to write a notebook with an initial migration (IMHO) so you can change it with your own point of view.

[2017-11-03 22:49] xmnlab commented on #97
https://github.com/xmnlab/fludashboard/blob/development/Notebooks/Dataset-Migration.ipynb

[2017-11-06 16:10] marfcg commented on #105
Sounds like a good plan.

[2017-11-06 21:22] xmnlab commented on #103
https://anaconda.org/conda-forge/fludashboard

[2017-11-06 21:22] #103 closed, assigned to marfcg

[2017-11-15 20:31] xmnlab commented on #97
@marfcg

I am checking the tables structure and I am realizing that are some fields duplicated across the tables ...

I have some questions:

Seems like incidence [1] and historical [2] tables have these columns (and their values) repeated:

- value, situation_id, run_date

Seems like mem_typical and mem_report tables have these columns (and their values) repeated:

- population

Is there any reas

[2017-11-16 17:27] marfcg commented on #97
Good catch!

- mem_typical and mem_report:
Column 'population' was useful for standalone csv's. As database tables, they're not needed. I have a file with population by age bracket, per location, per year, that will be a table on it's own. Therefore, those columns can be discarded from the tables.

For tables [1] and [2], those columns do not have the same values necessarily and should be kept in

[2017-11-17 12:51] xmnlab commented on #97
great! Can you add this table into a csv?

Great! I am finishing the first version of the app using postgresql today ... next week I will work on these changes.

[2017-11-17 18:15] marfcg commented on #97
PS, for clarity: in the historical table we need to keep columns L0, L1, L2 and L3, since it holds the calculated probability of falling in each category. This info is always shown on the time series panel.

[2017-11-17 21:01] xmnlab commented on #97
how?

[2017-11-17 21:10] marfcg commented on #97
It's currently being presented on the top left corner of the graph.

---
*Sent from mobile device. My apologies for eventual typos.
Marcelo Ferreira da Costa Gomes
Programa de Computação Científica
Fundação Oswaldo Cruz
PROCC/FIOCRUZ

On Nov 17, 2017 19:01, "Ivan" <notifications@github.com> wrote:

[2017-11-17 21:13] xmnlab commented on #97
ah ok :) thanks!

[2017-12-06 21:51] xmnlab commented on #105
done.

[2017-12-06 21:53] xmnlab commented on #97
@marfcg

I will check your last recommendation, thanks.

[2017-12-06 21:53] xmnlab commented on #96
done.

[2017-12-06 22:03] xmnlab opened #110 "Creating docker environment"
Create a docker environment to server data with postgresql.

[2017-12-12 20:38] #96 closed, assigned to xmnlab

[2017-12-12 20:38] #97 closed, assigned to nobody

[2017-12-12 22:28] xmnlab opened #112 "Remove br-states.json from the package"
Remove br-states.json file (8,3M) from the package.

[2017-12-12 22:29] #105 closed, assigned to xmnlab

[2017-12-12 22:33] xmnlab opened #113 "Change database structure"
https://github.com/FluVigilanciaBR/fludashboard/issues/97#issuecomment-344996944

https://github.com/FluVigilanciaBR/fludashboard/issues/97#issuecomment-345320970

[2017-12-12 22:34] xmnlab commented on #97
the last recommendation will be analysed at https://github.com/FluVigilanciaBR/fludashboard/issues/113

[2018-01-26 13:45] marfcg opened #115 "Template for temporary unavailable website"
During periods of cross-validation with the MS, as well as system's error correcting, it is important to have a webpage that can be set with a "site temporary unavailable for technical issues" disclaimer.

This page should be generated by admin whenever necessary.
Optimally, it should also be a fall-back whenever the system has been shutdown for other reasons not triggered by the admin him/herself

[2018-01-30 22:06] #110 closed, assigned to xmnlab

[2018-01-30 22:19] xmnlab commented on #115
@marfcg

what model means here?

[2018-01-31 14:41] xmnlab commented on #115
I have already created pages for 404 (page not found), 403 (Access forbidden) and 500 (Server error) error.

[2018-02-01 18:48] marfcg commented on #115
"model" would mean the page with the system running in its current state.
Yeah, It's not the best word to describe it... but it was what came to mind at the moment, in the lack of a better term.

[2018-02-01 22:21] xmnlab commented on #115
ok initially we can do a simple admin access with fixed password .. when you have more defined our infrastructure we can create a user form to create new user and change password functionality.

is it ok for you?

[2018-02-01 22:45] marfcg commented on #115
At the moment we don't need a user/password access to the website, it can still be publicly accessed (hopefully it will forever be).
What I had in mind is a way for the system admin to toggle the website between "up-and-running" to a page with a warning that the website is "temporarily unavailable for maintenance".

Unless we can have a mix of both: during maintenance the current version is only a

[2018-02-01 22:54] xmnlab commented on #115
sure! if you want to talk now .. it is ok for me ..

practically .. if you want a online switch to change this page .. we will need a admin page with password .. but   if you want to change a settings file with a switch variable ... we can do it easily

[2018-02-01 23:22] xmnlab commented on #115
to switch the initial page to the unavailable page, use this in the .flu.yaml file:

[code]

[2018-02-02 00:27] #115 closed, assigned to xmnlab, marfcg

[2018-02-08 22:14] marfcg opened #119 "Flu chart curves' criteria"
As it was on the last versions prior to migrating to database structure, the lines on the flu chart (be it incidence or cases), should obey the following criteria:
- [x] Notifications curve should go up to t = min(most recent stable epiweek, selected epiweek). This is from current_estimated_values table;
- [x] Estimates and confidence intervals should be displayed only within the interval defined

[2018-02-09 12:59] marfcg opened #120 "Year list"
The menu for year selection is showing 2017 only.

[2018-02-09 14:09] marfcg commented on #120
I've managed to get the remaining years on the list by changing
[code]

at ```def index()``` inside views.py
The issue, then, is that when a year without historical estimations is selected (anything prior to 2017), the data is not shown. This might be related to issue #119.
I believe the system is build in a way where historical_estimated_values is the main data source, while it should be the curr

[2018-02-09 16:51] marfcg commented on #119
No luck here... I couldn't manage to proper follow the logic behind FluDB.get_data (inside flu_data.py) to make the necessary changes. This is the process behind the data structure used in the chart, right?

[2018-02-09 18:08] marfcg opened #121 "Very high threshold missing"
Since migration to database structure, the very high threshold is no longer being drawn on the chart.

[2018-02-09 18:08] xmnlab commented on #121
can you send a screenshot?

[2018-02-09 18:33] marfcg commented on #121
Here it goes for SP (territory_id = 35)
According to the database table mem_report, we have:
very_high_threshold = 0.533

I'm sending you a print from the current state of my development branch, in which I changed the way the upper bound for the background is set:
https://github.com/marfcg/fludashboard/commit/fc34321b33b33523cb11b946637c7919cd5419cb

![sp-2017-very_high_threshold](https://user-ima

[2018-02-09 18:35] marfcg commented on #121
At the current state at the upstream branch, for SP, the upper boundary for the red background is at 1.02*very_high_threshold, and the dashed line for the very_high_threshold is missing.
https://github.com/FluVigilanciaBR/fludashboard/blob/64fb7788f2b6e59fe65340ca30ad7bfe9f8792d2/fludashboard/libs/views.py#L183

[2018-02-09 18:56] xmnlab commented on #121
for a unknown reason .. this line is hidden on css file :S

2018-02-09 14:35 GMT-04:00 Marcelo F C Gomes <notifications@github.com>:

[2018-02-09 19:09] xmnlab commented on #121
I think the idea was to hidden the typical very high line (of the area) ..
sorry about the mistake ...

2018-02-09 14:56 GMT-04:00 Ivan Ogasawara <ivan.ogasawara@gmail.com>:

[2018-02-09 19:13] marfcg commented on #121
The red line that appears at the top of the background, right?
Yeah, that would make sense.

So, just removing the following block from custom.css:
[code]
Does the trick without any side effects, correct?

Regarding the top line, one alternative is to set the y_axis upper limit at the same value that I set for the background. In this way, there wouldn't be a problem having that thin red line there

[2018-02-09 19:25] xmnlab commented on #121
much better :+1:

there is a good question hehe

here [1] we can see a way to use a specific range .. in our case we need a range from the csv data.

[1] http://c3js.org/samples/axes_y_range.html

[2018-02-09 19:39] #121 closed, assigned to xmnlab

[2018-02-09 19:42] marfcg opened #123 "Match yaxis upper limit to background upper boundary"
Match yaxis upper limit y_max to typical_very_high hack used to set the red background, as discussed in #121

Thoughts by @xmnlab :

here [1] we can see a way to use a specific range .. in our case we need a range from the csv data.

[1] http://c3js.org/samples/axes_y_range.html

[2018-02-12 14:16] marfcg commented on #120
With the proposed changes at https://github.com/marfcg/fludashboard/commit/526962171ec3280782c0e57551e66d687383c877, the years appear correctly, as well as the most up-to-date epiweek upon page load.

The side effect is that the data for years < 2017 are not shown.
I believe the source of this problem is what has been stated above. That is, when fetching from the database, the system is using the

[2018-02-12 14:16] #120 closed, assigned to xmnlab

[2018-02-12 14:23] marfcg opened #125 "Data for years < 2017 not shown"
This has showed up as a result of #120 fix.
Relevant info:

The issue, then, is that when a year without historical estimations is selected (anything prior to 2017), the data is not shown. This might be related to issue #119.
I believe the system is build in a way where historical_estimated_values is the main data source, while it should be the current_estimated_values one. While the former has th

[2018-02-12 14:52] #123 closed, assigned to nobody

[2018-02-13 14:49] marfcg commented on #125
The column year from mem_typical table is a reference for the year in which it was produced. The typical curves are the same for all epiyears, since the are a reference for expected seasonal trend.
Therefore, when generating the view, we don't have to check whether mem_typical.year = (selected year).

[2018-02-13 14:51] #125 closed, assigned to xmnlab, marfcg

[2018-02-13 16:56] marfcg commented on #119
Solved on https://github.com/FluVigilanciaBR/fludashboard/commit/1030795717ea9cd551854e44dd47bcb5ce7e50a6

[2018-02-13 16:56] #119 closed, assigned to xmnlab, marfcg

[2018-02-13 17:57] marfcg opened #127 "Report regular seasons"
Report on the incidence chart the regular seasons considered.
This info is already being pulled from the database on column regular_seasons, which comes from the mem_report table.
It's a matter of finding the best layout to display it on that panel.

[2018-02-14 20:33] xmnlab commented on #127
ok! I will take a look!

[2018-02-16 00:42] #127 closed, assigned to xmnlab

[2018-02-16 00:47] marfcg opened #132 "Starting page"
Per request by the MH team, the starting page should be on seasonal mode ('Resumido').
I've made an attempt to set it up, but the incidence chart broke apart and I couldn't make it work properly. :/

[2018-02-16 15:08] marfcg opened #134 "Geopolitical regions aggregate"
Display data aggregated by geopolitical regions (Norte, Sul, Nordeste, ...).

The toggle is already on the index.html and dashboard.js file, but the later and the rest of the system must be updated to properly show the corresponding data.
Several changes to that effect have been made already, but it's not complete yet.

[2018-02-19 23:16] xmnlab commented on #134
ok .. I will take a look ;)

[2018-02-20 14:31] xmnlab commented on #134
in the code I am changing the label for territory type (state, region, etc) by theirs ID on database.

[2018-02-20 21:11] xmnlab commented on #134
There are new fields in the clean_data_epiweek_weekly_incidence_w_situation table (ADNO, PARA1, PARA2, PARA3) .. what these fields mean?

[2018-02-22 17:55] marfcg commented on #134
Those will be used to plot the accumulated number of cases and incidence of SRAG caused by Adenovirus, Parainfluenza1, Parainfluenza2, ...).

This will be a new panel with those time series on a multipanel way, like this:
https://i.stack.imgur.com/PWkZq.jpg

Looking at the D3-based graphs, I couldn't find examples in the gallery, though...

[2018-02-22 18:01] #132 closed, assigned to xmnlab

[2018-02-22 18:29] marfcg opened #136 "Etiological agents panel"
Include an additional panel with time series for Flu A, Flu B, Adenovirus, VSR, Parainfluenza 1, Para 2, Para 3, Outros. Since they are usually small, it would be better to keep on separate plots on the same panel
Also, on a single plot:
inconclusive, not tested, delayed (aguardando resultado), positive cases, negative, testing ignored

On this panel, there will be no estimates, just already repor

[2018-02-22 18:32] marfcg opened #137 "Two new panels"
Include two new panels, bellow the current ones:
- [x] Acompanhamento de oportunidades on the left ( #138 );
- [x] Exames laboratoriais on the right ( #136);

They can be created as placeholders while we work on the actual data display.

[2018-02-22 18:35] marfcg opened #138 "Opportunity panel"
Create a panel to show as boxplots the several opportunity observations:
 - Digitalization;
 - Notification;
 - Result;
 - Terapy;
 - ...

I'm working on the dataset extraction and database update.
I couldn't find any example of boxplots with C3.js D3-based graphs.
The goal is the plotly style, if possible:
https://plot.ly/python/box-plots/

[2018-02-22 18:37] marfcg commented on #138
As on #136 , I'll prepare a notebook example.

[2018-02-22 18:39] marfcg commented on #134
https://github.com/FluVigilanciaBR/fludashboard/issues/134#issuecomment-367765275 has moved to #136
The current issue has been successfully addressed.

[2018-02-22 18:39] #134 closed, assigned to xmnlab

[2018-02-26 15:29] xmnlab commented on #138
ok .. maybe we can use plotly js: https://plot.ly/javascript/box-plots/

[2018-02-26 15:30] xmnlab commented on #137
can you provide an example image about this new 2 panels?

[2018-02-26 15:31] xmnlab commented on #136
great!

[2018-02-27 20:06] marfcg commented on #136
@xmnlab
when you have the time, take a look at the notebook https://github.com/FluVigilanciaBR/fludashboard/blob/development/Notebooks/Etiological_agents_timeseries.ipynb

[2018-02-28 23:18] xmnlab opened #140 "Update bootstrap to v4"

[2018-03-01 02:10] xmnlab commented on #140
@marfcg

I will remove the keen library and use just bootstrap card class.

maybe the layout will change a little bit .. you can point me all changes you want to improve the layout.

[2018-03-01 19:30] marfcg commented on #138
I couldn't find a way to change the boxplot hover labels. That aside, it delivers the request made by the MH team.
PS: I've made use of cufflinks library to test it's functionality. If you think it is not necessary for production, feel free to bypass it.

[2018-03-05 23:57] marfcg commented on #138
We need to move plot title "Distribuição de oportunidades [...]" to the panel title, like on the other ones.

[2018-03-05 23:58] marfcg commented on #136
We need to move the plot title "Exames laboratoriais [...]" to the panel title, like on the other ones.

[2018-03-06 14:14] xmnlab commented on #136
ok

[2018-03-06 14:14] xmnlab commented on #138
OK

[2018-03-07 18:55] #137 closed, assigned to xmnlab

[2018-03-07 18:55] #138 closed, assigned to xmnlab, marfcg

[2018-03-07 18:55] #136 closed, assigned to xmnlab

[2018-03-13 20:39] marfcg opened #151 "Contingency plan alert levels"
Per request by the MH, we need to the change the map colors based on the contingency plan instead of what is currently used at the seasonal view mode.
The details and an example is shown in the notebook https://github.com/FluVigilanciaBR/fludashboard/blob/development/Notebooks/Season_color_new_specs.ipynb

Notice that this map will be independent of dataset and scale selected by the user.
It will

[2018-03-13 23:03] xmnlab commented on #151
great! I will take a look!

[2018-03-15 19:58] marfcg opened #152 "Deployment documentation"
Update documentation for deployment, with details on how to use runwsgi.py inside e.g., Apache.

https://github.com/ogcruz  will be joining this issue as well, since he will help configure the server.

[2018-03-16 03:25] xmnlab commented on #152
ok :)

[2018-03-19 16:01] xmnlab commented on #151
@marfcg

the difference between resumed (year) and contingency will be just the colors and the controls?
the data should be the same? I mean, we have 6 panels we will keep showing this panels with the same data like in resumed view?

[2018-03-19 16:55] marfcg commented on #151
Yep!
Main differences:
- Colors for the map following contingency plan criteria;
- For the other panels, use same data shown on the resumed view, but locked to most recent epiyear.

The contingency colors don't make sense for previous years, since it changes according to the data on recent weeks.

[2018-03-20 15:37] marfcg opened #153 "Wrong panel titles when changing view mode, dataset or scale"
If a UF/region/regional is selected, when the user change any of view mode, dataset, or scale, the panel titles change back to "Brazil", even though the data shown is still the one corresponding to the previously selected area.

Example:
On the main page, select any UF. Then, change the dataset to SRAGFLU or the scale to CASOS. The data will correspond to the selected UF, but the title of each pan

[2018-03-20 15:43] xmnlab commented on #153
@renomoto can you take a look in this issue?

@marfcg and I can provide any support to clarify any doubt.

[2018-04-27 21:14] marfcg commented on #153
@xmnlab do you know if @renomoto is following this issue?
We are presenting the system to the ministry of health on May 7th. It would be good to have this sorted out by then.

[2018-04-27 21:21] xmnlab commented on #153
I have not received any updates. I will take a look at this one :+1:

[2018-05-08 07:53] marfcg commented on #151
The contingency plan map is having issues distinguishing the orange and red color, for some weird reason... The values are calculated correctly, but when it is 3 ("Nivel 1" by MH nomenclature, which should be orange #ff7700), the color shown is red, as when contingency=4 ("Nivel 2", which is in fact red).
I've tried on Firefox and on Chrome, with same results...

[2018-05-09 01:06] #153 closed, assigned to xmnlab

[2018-05-09 16:12] marfcg opened #158 "Download buttons for each chart"
As with the table and the plotly graphs, the other charts should have a download button on the corresponding card.

[2018-05-09 16:14] marfcg commented on #112
@xmnlab
With the inclusion of this file in the data repo, is this issue closed?

[2018-05-09 18:02] xmnlab commented on #112
Yes! :)

El mié., 9 may. 2018 12:14, Marcelo F C Gomes <notifications@github.com>
escribió:

[2018-05-09 19:55] marfcg commented on #112
I've just noticed we currently have it at fludashboard/data and fludashboard/static/data
Can I safely remove them?

[2018-05-09 19:58] xmnlab commented on #112
You're right .. I haven't noticed that .. I you can .. I will take a look
here .. just a sec

2018-05-09 15:55 GMT-04:00 Marcelo F C Gomes <notifications@github.com>:

[2018-05-11 21:06] marfcg commented on #151
The latest PR https://github.com/FluVigilanciaBR/fludashboard/pull/160 fixes the bug reported at https://github.com/FluVigilanciaBR/fludashboard/issues/151#issuecomment-387317013
It is still not directly in the DB, but provides a temporary fix.
I believe we are ready to release a new version.
The next one will be with all calculations in the data update phase. That is, all alert levels will be cal

[2018-05-15 18:02] marfcg commented on #158
@xmnlab, if you're familiar whit this, could you point me to some documentation on how to implement this?
I've made a few vague attempts, but without any luck...

[2018-05-15 18:09] marfcg opened #161 "New release"
As it is now, the system is ready for a new release version, unless the download buttons prove quick to implement. If this is a quick fix, then we can issue the new release after that. Otherwise, let's ship one now as it is and leave those buttons and other enhancements for the next one.

@xmnlab could you provide me some documentation on how to process the pip and conda-forge release updates, so

[2018-06-04 23:27] marfcg commented on #158
html2canvas seems to be a promising lead.

https://github.com/niklasvh/html2canvas/issues/1081
https://www.youtube.com/watch?v=-d2FeFiBvEo&feature=youtu.be&list=PLbu98QxRH81IGmJ1IvjoIDKNvfXUQN0Do
https://github.com/niklasvh/html2canvas/issues/949
https://stackoverflow.com/questions/14595541/capture-div-into-image-using-html2canvas
https://stackoverflow.com/questions/10457608/create-screenshot-of-w

[2018-06-07 21:53] marfcg commented on #158
Partial solution provided, but not optimal.
SO question:
https://stackoverflow.com/questions/50750430/how-to-properly-generate-canvas-from-complex-svg

[2018-06-14 13:45] marfcg commented on #158
Solution obtained following feedback from https://stackoverflow.com/questions/50750430/how-to-properly-generate-canvas-from-complex-svg
Solved using a modification of svg-crowbar-2.js from https://github.com/NYTimes/svg-crowbar
Changes stored as js file singledownload-svg-crowbar-2.js at: https://github.com/FluVigilanciaBR/fludashboard/blob/development/fludashboard/static/libs/svg-crowbar-2/single

[2018-06-14 13:45] #158 closed, assigned to marfcg

[2018-06-14 18:16] #140 closed, assigned to xmnlab

[2018-06-14 18:16] #151 closed, assigned to xmnlab, marfcg

[2018-06-14 18:16] #112 closed, assigned to xmnlab

[2018-07-09 22:57] #161 closed, assigned to xmnlab

[2018-07-09 23:00] marfcg opened #168 "Tutorials and functionality documentation"
- [x] Update functionality documentation;
- [ ] Create video tutorial for each view mode separately.

[2020-05-11 13:50] marfcg opened #174 "New visualization mode: COVID-19"
Activation button: COVID-19 (along with current buttons Detalhado, Resumido, Plano de Contingência)

Layout:
2 columns x 2 rows.

Upper left: map, as current modes
Upper right: bar plot with total cases by week, by lab situation (Waiting result -- aka "delayed", SARS-CoV-2, Flu, VSR, Others, Undetected -- aka "negative")
Lower left: line plot for each UF (one above the other) with two lines, covid

[2020-05-11 13:54] marfcg opened #175 "New spatial levels: health regions and metro areas"
Along with the current levels: UF, região geográfica, regiãopor padrão de circulação, include:

- [ ] Health regions (Regionais de saúde)
- [ ] Metro areas (Regiões metropolitanas).

For those two, by cliclink on the corresponding UF, zoom in to show the health/metro regions of the corresponding states, which will then be used as filter for datasets in each panel, just as the UFs are currently use

[2020-05-11 13:55] marfcg commented on #174
Alternatively, we could create a new page or use a new tab to change to that view, since it has a completely different layout.

[2020-05-11 13:58] marfcg opened #176 "Select symptoms' filter"
Either by new page or tab, allow user to choose between symptoms' filter criterias:

- [x] SRAG definition (current mode)
- [x] SRAG without fever filter (sragnofilter suffix on database tables)
- [x] SRAG without any symptoms' filter (hospdeath suffix on database tables)

[2020-05-11 14:03] marfcg commented on #176
Basically, those toggles will only change the tables used for the panels. The table names share the same root as the current mode, with an additional "_[suffix]" added for the ones that are different:
- mem_report_sragnofilter
- mem_typical_sragnofilter
- clean_data_epiweek_weekly_incidence_w_sittuation_sragnofever
- contingency_level_sragnofever
- current_estimated_values_sragnofever
- delay_tabl

[2020-07-14 18:18] #176 closed, assigned to nobody

[2020-11-18 19:31] eltonn opened #179 "Add CI gh-actions and pre-commit hook"
Insert workflow CI in github actions: python application
flake8

Setup lint in pré-commit:
flake8
black